$background: #111111;
$foreground: #201E28;
$gray: #333333;
$text: #cdd6f4;
$color1: #cba6f7;
$color2: #fab387;
$color3: #89B4FA;
$color4: #94e2d5;
$color5: #458588;
$color6: #74c7ec;
$color7: #B7BDF8;
$color8: #eba0ac;
$color9: #f5e0dc;
$color10: #585b70;
$radius: 8px;

* {
  all: unset;
  font-family: Roboto RobotoMono Nerd Font;
}

.bar {
  background-color: $background;
  box-shadow: 1px 2px 10px $background;
  padding: 4px;
  border-bottom: 2px solid $color1;
  border-radius: $radius;
}

// Styles on classes (see eww.yuck for more information)
.startMenu {
  padding: 0 10px;
  font-weight: 700;
  color: $text;
}

.clock {
  color: $color9;
}

.clockb {
  padding: 0 14px;
  background: $foreground;
  border-radius: $radius;
}

.music {
  padding: 0 20px;

  .musicLabel {
    padding: 0 5px;
  }
}

.circular-progress {
  color: $color1;
  background-color: $background;
  border-radius: $radius;
}

.net {
  color: $color8;
  padding-right: 10px;
}

.paru,
.paru-empty {
  color: $color8;
  padding-right: 10px;
}

.scratchpad,
.scratchpad-empty {
  color: $color1;
  padding-right: 10px;
}

.buttonsRight {
  margin-left: 30px;
}

.buttonStyle {
  background: $foreground;
  border-radius: $radius;
  padding: 0 8px;
}

.onedriveButton {
  color: $color5;
}


.systray {
  color: $color2;
  border-radius: $radius;

  * {
    background-color: $background;
    border-radius: $radius;
    padding: 2px;
    box-shadow: none;
    margin: 0;

    &:hover {
      color: $foreground;
    }
  }
}

.audio {
  color: $background;
  padding: 0 10px;
  border-radius: $radius;
  background-color: $color1;
}

.metric {
  // padding-left: 18px;
  // background: $foreground;
  border-radius: $radius;
}

.metric scale trough {
  color: black;
  background-color: $background;
}

.metric scale trough highlight {
  background-color: $color3;
  border: 1px solid $background;
  color: #000000;
  border-radius: $radius;
}

.metric scale trough {
  border-radius: $radius;
  min-height: 7px;
  min-width: 50px;
}

.circular {
  border-radius: $radius;
}

.barCircular {
  color: $color1;
  background-color: $foreground;
  border-radius: $radius;
}

.iconCircular {
  color: $color8;
  font-size: 10;
  margin: 0px 40px 0 -20px;
}

.yellow {
  color: $color2;
}

.red {
  color: $color1;
}

.orange {
  color: $color3;
}

// Workspaces

.workspaces-widget {
  padding: 2px 10px;
  background: $foreground;
  border-radius: $radius;
}

.workspace-entry {
  padding: 0 3px;
  margin: 0;

  transition: color 1s ease-in-out;

  .empty {
    color: $gray;
  }

  .occupied {
    color: $color1;
  }

  .current {
    color: $color3;
  }
}


// WIDGET
.canva {
  // margin-top: 9px;
  background-color: $background;
  box-shadow: 1px 2px 10px $background;
  padding: 4px;
  border-bottom: 2px solid $color1;
  border-right: 2px solid $color1;
  border-radius: $radius;
}

.profileIcon {
  padding: 10px 5px;
  border-radius: 50%;
}

.profile {
  padding: 10px;
  border-radius: $radius;

  .user {
    font-weight: 600;
    color: $color2;
  }
}

.song_cover_art {
  border-radius: 20px;
}

.song_btn_play {
  color: $color3;
  font-size: 28px;
  margin: 3px 0px 0px 5px;

  &:hover {
    color: $color7;
  }
}

.song_btn_prev,
.song_btn_next {
  color: $color3;
  font-size: 24px;
  margin: 3px 0px 0px 5px;

  &:hover {
    color: $color5;
  }
}

.section {
  border-radius: $radius+8;
  margin: 0 30px;
  margin-left: 5px;
  // padding: 15px 0;
}

.songName {
  font-size: 13px;
  font-weight: 700;
}

.songArtist {
  font-size: 11px;
}

.musicSection {
  padding-top: 28px;
}

.titleTodos {
  color: $color1;
  font-weight: 700;
}

.taskIndex {
  color: $color4;
}

.taskActual {
  color: $color2;
  // font-weight: 600;
}

.taskTimeStart {}


.taskSummary {
  font-weight: 600;
}

.launcherSection {
  // padding: 40px;
  padding-right: 22px;
}

.launcher {
  // background-color: $gray;
  border-radius: $radius+8;
  padding: 15px;
  margin: 15px;
  font-size: 70px;

  color: $color3;

  &.apps {
    color: $color1;
  }

  &.gmail {
    color: $color2;
  }

  &:hover {
    color: $color7;
  }


  &.github {
    color: $color7;

    &:hover {
      color: $color8;
    }
  }

}

.powertray {
  padding: 0 20px;
  // padding-right: 25px;
  margin: 0 10px;
  font-size: 30px;

  &.poweroff {
    color: $color8;

    &:hover {
      color: $color9;
    }
  }

  &.reboot {
    color: $color5;

    &:hover {
      color: $color4;
    }
  }

  &.sleep {
    color: $color3;

    &:hover {
      color: $color6;
    }
  }
}

.buttonStyleWidget {
  border-radius: $radius;
  background: $background;
  // border: 2px solid $color1;
}

.todosContainer {
  padding: 20px;
  margin: 20px;
}

.launcherProgram {}
